@{
    ViewData["Title"] = "Home Page";
}

<header class="header">
    <div class="block_raw">
        <div class="block_logo">
            <a class="logo" href="/">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
        </div>
        <div class="block_text">
            <a class="link" href="#">Контакты</a>
            <a class="link" href="#">О нас</a>
            <a class="link" href="#">Галерея</a>
        </div>
        <div class="block_enter">
            <a class="link" 
                asp-controller="Home"
                asp-action="Login">Вход</a>
        </div>
    </div>
</header>

<div class="meet">Meet Room</div>
<div class="meet_2">Место твоего потока</div>
<form class="index_form"> 
    <div class="dws-input">
    <input class= "dws-submit" type="submit" name="submit" value="Войти" asp-controller="Home" asp-action="Login">
    </div>
</form>

